.chatbotpage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
}
.chatbotpage .container{
    display: flex;
    justify-content: space-between;
    width: 80dvw;
    height: 70dvh;
    background: #968d8d91;
    border-radius: 10px;
    overflow: hidden;
}
.chatbotpage .chatai{
    width: 20dvw;
    padding: 3dvh;
    font-size: 4dvh;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
}
.chatai svg{
    fill: black;

}
.chatbotpage .chatarea {
    background-color: #fff;
    width: 70vw; 
    margin: 6vh 3vh;
    border-radius: 3vh;
    height: 80vh; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem; 
    overflow-y: auto; 
}
.input-area{
    position: fixed;
    left: 35dvw;
    top:80%;
   
}
.input-area input{
    width: 46dvw;
    height: 8dvh;
    /* margin-bottom: 200px; */
    border: none;
    background-color: whitesmoke;
}