.Floodmap {
    display: flex; 
    height: 90dvh; 
    margin-top:10dvh;
}

.Floodmap .options {
    width: 250px; 
    top:10dvh;
    background-color: white; 
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); 
}

.Floodmap .options nav ul {
    list-style: none;
    padding:2dvw;
}

.Floodmap .options nav ul li {
    margin-bottom: 20px;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    padding: 1dvh;
    cursor: pointer;
}

.map {
    display: flex;
    justify-content: center;
     align-items: center;
     background-color: #f0f0f0; 
}

iframe {
    width: 78dvw;
    overflow: hidden;
    height: 90%;
    border: none;
}
@media(max-width:600px) {
    .Floodmap .options {
        width:100px; 
        font-size: 50px;
        padding: 0;
        padding-right: 28px;
    }
}
@media(max-width:400px) {
    .Floodmap{
        flex-direction: column; /* Stack elements vertically */

    }
    .Floodmap .options {
        display: flex;
        justify-content: space-evenly;
        width:100dvw;
        height: 20dvh; 
        font-size: 15px;
        padding: 10px;   
    }
    iframe {
        height: 99dvw;
        width: 90dvw;
        overflow: hidden;
        border: none;
    }
    .Floodmap .options nav ul {
        list-style: none;
        padding:0dvw;
    }
    .Floodmap .options nav ul li {
        margin-bottom: 9px;
        font-size: 15px;
        padding: 0.5dvh;
        cursor: pointer;
    }
    
}