.missingpersonpage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
}
.container-missing{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 65dvw;
    height: 50dvh;
}
.missing-elements{
    height: 90%;
    width: 18dvw;
    font-size: "Poppins", sans-serif;
    text-align: center;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    gap: 5dvh;
    font-size:4dvh;
    cursor: pointer;
}
.missing-elements svg{
   fill: #000000;
}
@media (max-width: 800px) {
    .missingpersonpage{
        height: 90dvh;
        width: 90dvw;
    }
    .missing-elements{
        gap: 0.5dvh;
        font-size:3dvh;
        cursor: pointer;
    }
    .container-missing{
        width: 85dvw;
        height: 60dvh;
    }
}
@media (max-width: 300px) {
    .missingpersonpage{
        height: 90dvh;
        width: 90dvw;
    }
    .missing-elements{
        gap: 0.5dvh;
        font-size:2dvh;
        width:35dvw;
        height: 40dvh;
        padding: 3dvh;
        cursor: pointer;
    }
    .container-missing{
        width: 85dvw;
        height: 60dvh;
    }
}