
.home_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    height: 10dvh;
    background-color: #9c9393ce;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1dvh; 
    margin : 0.5dvh 0.6dvw;
    font-size: 22px;
}

.home_header .logo {
    cursor: pointer;
}

.nav-links {
    display: flex;
}

.nav-links ul {
    display: flex;
    gap: 4dvw;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav-links li:hover {
    color: #444; 
}

.menu-icon {
    display: none;
    cursor: pointer;
}

@media (max-width: 800px) {
    .menu-icon {
        display: block;
        z-index: 1001;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 12dvh;
        left: 0;
        width: 80%;
        background-color: rgba(156, 147, 147, 0.9);
        text-align: center;
        transition: max-height 0.4s ease-in-out;
        max-height: 0;
        overflow: hidden;
    }

    .nav-links.open {
        display: flex;
        flex-direction: column;
        max-height:300dvh; 
        height:700%;
        padding: 2dvh 0;
    }

    .nav-links ul {
        flex-direction: column;
        gap: 1.5dvh;
    }
}
